[submodule ".registry"]
	path = .registry
	url = https://github.com/bbsbayes/bbsbayes.r-universe.dev
	branch = HEAD
[submodule "bbsBayes2"]
	path = bbsBayes2
	url = https://github.com/bbsBayes/bbsBayes2
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	branch = v0.8.0
[submodule "rnaturalearthhires"]
	path = rnaturalearthhires
	url = https://github.com/ropensci/rnaturalearthhires
