[submodule ".registry"]
	path = .registry
	url = https://github.com/bbsbayes/universe
	shallow = true
	branch = HEAD
[submodule "bbsBayes2"]
	path = bbsBayes2
	url = https://github.com/bbsBayes/bbsBayes2
	shallow = true
	registered = true
